html,body,*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    color: white;
    height: 80px;
    background-color: rgb(36, 13, 13);
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
}


.nav-menu{
    margin-left: 130px;
    display: flex;
}

.nav-items{
    margin: 20px;
}

header .logo{
    margin: 130px;
}

header .trial{
    position: fixed;
    margin: 130px;
    right: 0px;
}

.book-trial{
    background-color: aquamarine;  
}

.book-trial .book{
    margin-left: 25%;
    width: 50%;
    text-align: center;
    min-height: 300px;
    background-color: aquamarine;
}

.book h3{
    color: #148482;
}

footer{
    height: 300px;
    background-color: rgb(36, 13, 13);
    display: flex;
    justify-content: space-between;
}

footer h3{
    color: white;
}

.footer-social,.contact,.newsletter{
    margin: 10px;
    color: gray;
    text-align: center;
    padding: 30px;
}

img{
    height: 200px;
}

.content{

    display: flex;
}